* {
  box-sizing: border-box;
}

nav {
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  background-color: #e5e5e5;
}

nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

aside {
  background-color: #e5e5e5;
  float: right;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

@media only screen and (max-width: 720px) {
  /* For mobile phones: */
  nav a{
    width: 50%;
  }
}

@media only screen and (max-width: 540px) {
  /* For mobile phones: */
  nav a{
    width: 100%;
  }
}
